*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-optical-sizing: auto;
}
body{
    background-color: #FFFFFF;
}
.continer{
    width: 80%;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.content .logo{
    width: 139px;
}
.content .nav-text ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.content .nav-text a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}
.content .nav-text a:hover{
    color: rgb(124, 36, 136);
}
.btn{
    font-size: 16px;
    font-weight: 600px;
    border: none;
    border-radius: 3;
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    cursor: pointer;

}
.btn:hover{
    color: rgb(229, 255, 80);
}
/* banner */
#banner{
    width: 100%px;
    height: 700px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#b-continer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.b-content{
    width: 770px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}
.b-content .banner-text{
    color: #30B868;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 18px;
    gap: 6;
    background-color: #FFFFFF;
}

.b-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.b-content h1 .heading{
    color: #30AC66;
}
.b-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.b-content .brn-2{
    gap: 16px;
    display: flex;
    align-items: center;
}
.b-content .btn-2 .btn-4{
    background: transparent;
}
.b-content .btn-4{
  background: transparent;
  border: 1px solid rgb(170, 119, 163);
  color: #FFFFFF;
  transition: 0.3s;  
}
