*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-optical-sizing: auto;
}
body{
    background-color: #FFFFFF;
}
.continer{
    width: 80%;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.content .logo{
    width: 139px;
}
.content .nav-text ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.content .nav-text a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}
.content .nav-text a:hover{
    color: rgb(124, 36, 136);
}
.btn{
    font-size: 16px;
    font-weight: 600px;
    border: none;
    border-radius: 3;
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    cursor: pointer;

}
.btn:hover{
    color: rgb(229, 255, 80);
}