*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-optical-sizing: auto;
}
body{
    background-color: #FFFFFF;
}
.continer{
    width: 80%;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.content .logo{
    width: 139px;
}
.content .nav-text ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.content .nav-text a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}
.content .nav-text a:hover{
    color: rgb(124, 36, 136);
}
.btn{
    font-size: 16px;
    font-weight: 600px;
    border: none;
    border-radius: 3;
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    cursor: pointer;

}
.btn:hover{
    color: rgb(229, 255, 80);
}
/* banner */
#banner{
    width: 100%px;
    height: 700px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#b-continer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.b-content{
    width: 770px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}
.b-content .banner-text{
    color: #30B868;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 18px;
    gap: 6;
    background-color: #FFFFFF;
}

.b-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.b-content h1 .heading{
    color: #30AC66;
}
.b-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.b-content .brn-2{
    gap: 16px;
    display: flex;
    align-items: center;
}
.b-content .btn-2 .btn-4{
    background: transparent;
}
.b-content .btn-4{
  background: transparent;
  border: 1px solid rgb(170, 119, 163);
  color: #FFFFFF;
  transition: 0.3s;  
}
#notes .header-text{
  width: 80%;
  align-items: center;
  text-align: center;
  margin: 36px 120px;
}
#notes p{
  color: #627382;
}
.notes-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 24px;

}

.notes-content .notes-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notes-content .notes-card {
  max-width: 322px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.178);
  background: rgb(248, 248, 248);
}

.notes-content .notes-card img {
  width: 60px;
  background-color: orangered;
  border-radius: 40px;
}

.notes-content .notes-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 25, 49, 1);
  line-height: 29px;
  text-transform: capitalize;
}

.notes-content .notes-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}
.branin-contet {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.branin-contet .brnain-img img {
  width: 600px;
}

.branin-contet .brain-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.branin-contet .brain-text h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(70, 145, 101, 1);
}

.branin-contet .brain-text h2 {
  font-size: 48px;
  font-weight: 700;
  font-style: Bold;
  color: #001931;
}

.branin-contet .brain-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: Regular;
  color: #627382;
}

.brain-text .text-group {
  display: flex;
  gap: 6px;
  align-items: center;
}

.brain-text .text-group img {
  width: 20px;
}

.brain-text .text-group{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-style: Medium;
  color: rgba(0, 25, 49, 1);
}

#ready{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 120px ;
}
#ready p{
  color: #627382;
}

#footer {
  padding: 120px 120px 30px 120px;
  background: rgba(0, 25, 49, 1);
}

.footer-content .footer-banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 79px;
}
.footer-banner .footer-img img {
  width: 139px;
}

.footer-banner .footer-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 100px 0 0;
}

.footer-banner .footer-social p {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 28px;
}
.footer-content .footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-top: 1px solid rgba(229, 231, 235, 0.105);
  padding-top: 30px;
  color: rgba(250, 250, 250, 1);
}
#footer.footer-text{
  align-items: center;
  text-align: center;
}